html, body {
    height: 120%; /* Asegura que el body y html ocupen todo el alto de la ventana */
    margin: 0; /* Elimina cualquier margen predeterminado */
    padding: 0; /* Elimina cualquier padding predeterminado */
    display: flex;
    flex-direction: column;    
}

.container{
    text-align: center;
    flex: 1;
    margin-top: 20%;
}

.navbar {
    height: 80px; /* Ajusta esta altura según lo que necesites */    
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    font-size: 25px;
}